.AdminRegions {
  padding: 1em 0;
}
.AdminVenue p,
.AdminRegion p {
  margin-bottom: 0;
}
.AddEdit {
  padding-top: 1em;
}
.AddEdit__form {
  display: flex;
  line-height: 1.2;
  font-size: 0.8125em;
}
.AddEdit__form input[type="text"],
.AddEdit__form input[type="number"] {
  font-size: inherit;
}
.AddEdit__label {
  font-weight: 600;
  margin-bottom: 0.125em;
  padding-left: 0.5em;
}
.AddEdit__col-left {
  margin-right: 1em;
}
.AddEdit__col-right {
  width: 100%;
}
/* AddEditVenue */
.AddEdit__col-1 {
  flex: 1 1 60%;
}  
.AddEdit__col-2 {
  flex: 1 1 40%;
  min-width: 250px;
  margin-left: 1em;
}
.AddEdit__col-3 {
  flex: 0 0 150px;
  margin-left: 1em;
}
.AddEditRegion .AddEdit__col-left {
  flex: 1 0 300px;
}
.AddEditRegion .AddEdit__col-right {
  flex: 1 1 80vh;
  width: auto;
}
.AddEditRegion .AddEdit__col-right > * {
  max-width: 80vh;
}
.AddEdit__field-wrapper {
  display: flex;
  flex-flow: wrap;
  margin-left: -0.5em;
}
.AddEdit__field-wrapper > * {
  width: 33.33%;
  padding-left: 0.5em;
}
.AddEdit__map-container {
  max-height: 80vh;
  max-width: 80vh;
}
.AddEdit .AddEdit__array {
  width: 100%;
  padding: 0;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.AddEdit__array-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.AddEdit__array button {
  border-radius: 0;
  margin-bottom: -1px;
  cursor: pointer;
}
.AddEdit__array-title {
  margin: 0 0 0 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
} 
.AddEdit__array-inner {
  background: whitesmoke;
  border: 1px solid #ccc;
}
.AddEdit__array-inner button {
  position: absolute;
  width: auto;
  top: -1px;
  right: -1px;
  margin: 0;
}
.AddEdit__field-wrapper-container {
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: -1em;
  padding: 0.5em;
}
.AddEdit__field-wrapper-container:first-child {
  border-top: none;
  margin-top: 0;
}
.AddEdit__field-wrapper-container--wide {
  align-items: center;
}
.AddEdit__field-wrapper-container--wide > *:not(button) {
  width: 100%
}
.AddEdit__field-wrapper-container--wide .form-group:last-child {
  margin-bottom: 0;
}
/* .AddEdit__field-wrapper-container > * { */
  /* flex: 1 1 auto;
  margin: 0 0.5em 0 0; */
/* } */
/* .AddEdit__field-wrapper-container > *:last-child {
  margin-right: 0;
} */
/* .AddEdit__field-wrapper-container > button {
  flex-basis: 0;
} */
.AddEdit__yData h3 {
  text-align: center;
}
.AddEdit__yData div {
  margin-bottom: 0.25em;
}

.embellish {
  font-weight: bold;
  font-size: 150%;
  line-height: 0.8125;
}