.AdminRegions {
  padding: 1em 0;
}
.AdminVenue p,
.AdminRegion p {
  margin-bottom: 0;
}
.AddEdit {
  padding-top: 1em;
}
.AddEdit__form {
  display: flex;
  line-height: 1.2;
  font-size: 0.8125em;
}
.AddEdit__form input[type="text"],
.AddEdit__form input[type="number"] {
  font-size: inherit;
}
.AddEdit__label {
  font-weight: 600;
  margin-bottom: 0.125em;
  padding-left: 0.5em;
}
.AddEdit__col-left {
  margin-right: 1em;
}
.AddEdit__col-right {
  width: 100%;
}
/* AddEditVenue */
.AddEditVenue .AddEdit__col-left {
  flex: 1 1 auto;
}  
.AddEditVenue .AddEdit__col-right {
  flex: 0 0 40%;
  width: auto;
  min-width: 250px;
}
.AddEditRegion .AddEdit__col-left {
  flex: 1 0 300px;
}
.AddEditRegion .AddEdit__col-right {
  flex: 1 1 80vh;
  width: auto;
}
.AddEditRegion .AddEdit__col-right > * {
  max-width: 80vh;
}
.AddEdit__field-wrapper {
  display: flex;
  flex-flow: wrap;
}
.AddEdit__field-wrapper > * {
  width: 50%;
  padding-right: 0.5em;
}
.AddEdit__field-wrapper > *:nth-child(2n) {
  padding-right: 0;
  padding-left: 0.5em;
}
.AddEdit__map-container {
  max-height: 80vh;
  max-width: 80vh;
}
.AddEdit__full-across {
  width: 100%;
  padding: 0;
}
.AddEdit__field-wrapper--alt {
  background: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1em 0;
  padding: 0.5em;
  display: flex;
  align-items: flex-end;
}
.AddEdit__field-wrapper--alt > * {
  flex: 1 1 auto;
  margin: 0 0.5em 0 0;
}
.AddEdit__field-wrapper--alt > *:last-child {
  margin-right: 0;
}