.MapItem {
  margin-left: -8px;
  margin-top: -74px;
  display: flex;
  position: relative;
}
.MapItem,
.MapItem * {
  cursor: pointer;
}
.MapItem__marker-container {
  width: 30px;
  height: 74px;
  padding-right: 32px;
}
.MapItem__marker {
  width: 17px;
  height: 74px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(/images/clip-art--mimosa-v4.png);
  transition: 0.15s;
  transform-origin: center bottom;
}
.MapItem .VenueListItem {
  display: none;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  border: none !important;
  width: 300px;
  height: 86px;
  flex: 0 0 auto;

  position: relative;
  z-index: 1;

}
.MapItem .VenueListItem__image-container {
  height: 86px;
  overflow: hidden;
  width: 86px;
  flex: 0 0 auto;
}
.MapItem .VenueListItem__image {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.MapItem .VenueListItem__content {
  overflow: hidden;
  padding: 9px 14px 5px;
  max-width: 265px;
  
  border: none;
}
.MapItem .VenueListItem__title {
  font-size: 15px;
  line-height: 16px;
  padding-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MapItem .VenueListItem__p {
  color: #616161;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MapItem.is-hovered {
  z-index: 1;
}
.MapItem.is-hovered .MapItem__marker {
  transform: rotate(15deg);
}
.MapItem.is-hovered .VenueListItem {
  display: flex;
}
