.VenueListItem {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  border-bottom: none;
  transition: 0.15s;
  cursor: pointer;
  display: flex;
}
.VenueListItem.is-hovered {
  background: whitesmoke;
}
.VenueListItem:last-child {
  border-bottom: 1px solid #ccc;
}
.VenueListItem__title {
  font-size: 0.925em;
  font-weight: bold;
  margin-bottom: 0.125em;
}
.VenueListItem__content {
  padding: 0.5em 0.5em;
}
.VenueListItem__p {
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 0;
}
.VenueListItem__image-container {
  flex: 0 0 100px;
}
.VenueListItem__image {
  display: block;
  width: 100px;
  height: auto;
}