.Venue {
  padding: 0.5em 0.5em;
  border: 1px solid #ccc;
  margin-bottom: 0;
  border-bottom: none;
  transition: 0.15s;
  cursor: pointer;
}
.Venue.is-hovered {
  background: whitesmoke;
}
.Venue:last-child {
  border-bottom: 1px solid #ccc;
}
.Venue__title {
  font-size: 0.925em;
  font-weight: bold;
  margin-bottom: 0.125em;
}
.Venue__content {
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 0;
}