.AdminVenues,
.AdminRegions {
  padding: 1em 0;
}
button {
  cursor: pointer;
}
.AdminVenue p,
.AdminRegion p {
  margin-bottom: 0;
}
.AdminVenue h2,
.AdminRegion h2 {
  margin-bottom: 0;
  font-size: 1.25em;
  margin-left: 0.5em;
}
.AdminVenue hr,
.AdminRegion hr {
  margin: 0.5em 0;
}
.AdminVenue__inner {
  display: flex;
  align-items: center;
}
.AddEdit {
  padding-top: 0.5em;
}
.AddEdit .form-group {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}
.AddEdit__form {
  display: flex;
  line-height: 1.2;
  font-size: 0.8125em;
  margin-left: -1em;
}
.AddEdit__form > * {
  margin-left: 1em;
}
.AddEdit__form .form-control {
  font-size: inherit;
  text-overflow: ellipsis;
}
.AddEdit__label {
  font-weight: 600;
  margin-bottom: 0.125em;
  padding-left: 0.5em;
}
.AddEdit__col-right {
  width: 100%;
}
.AddEdit__col-1,
.AddEdit__col-2 {
  flex: 1 1 50%;
}
.AddEdit__col-3 {
  flex: 0 0 150px;
  width: 150px;
  order: 3;
}
.AddEditRegion .AddEdit__col-left {
  flex: 1 0 300px;
  width: 300px;
}
.AddEditRegion .AddEdit__col-right {
  flex: 1 1 80vh;
  width: auto;
}
.AddEditRegion .AddEdit__col-right > * {
  max-width: 80vh;
}
.AddEdit__field-wrapper {
  display: flex;
  flex-flow: wrap;
  /* align-items: center; */
  margin-left: -0.5em;
}
.AddEdit__field-wrapper > * {
  flex-basis: 33.33%;
  padding-left: 0.5em;
}
.AddEdit__map-container {
  max-height: 80vh;
  max-width: 80vh;
}
.AddEdit__image-wrapper {
  background: whitesmoke;
  border: 1px solid #ccc;
  margin: 0 auto 1em;
  padding: 0.5em;
}
.AddEdit__image-wrapper img {
  max-width: 100%;
  height: auto;
  max-height: 170px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.AddEdit .AddEdit__array {
  flex-basis: 100%;
  padding: 0;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.AddEdit__array-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.AddEdit__array button {
  border-radius: 0;
  margin-bottom: -1px;
  cursor: pointer;
}
.AddEdit__array-title {
  margin: 0 0 0 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
} 
.AddEdit__array-inner {
  background: whitesmoke;
  border: 1px solid #ccc;
}
.AddEdit__array-inner button {
  position: absolute;
  width: auto;
  top: -1px;
  right: -1px;
  margin: 0;
}
.AddEdit__field-wrapper-container {
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: -1em;
  padding: 0.5em;
  padding-top: 1.125em;
}
.AddEdit__field-wrapper-container:first-child {
  border-top: none;
  margin-top: 0;
}
.AddEdit__field-wrapper-container--wide {
  align-items: center;
}
.AddEdit__field-wrapper-container--wide > *:not(button) {
  width: 100%
}
.AddEdit__field-wrapper-container--wide .form-group:last-child {
  margin-bottom: 0;
}
/* .AddEdit__field-wrapper-container > * { */
  /* flex: 1 1 auto;
  margin: 0 0.5em 0 0; */
/* } */
/* .AddEdit__field-wrapper-container > *:last-child {
  margin-right: 0;
} */
/* .AddEdit__field-wrapper-container > button {
  flex-basis: 0;
} */
.AddEdit__yMeta h3 {
  text-align: center;
}
.AddEdit__yMeta div {
  margin-bottom: 0.25em;
}

.embellish {
  font-weight: bold;
  font-size: 150%;
  line-height: 0.8125;
}
.flex-basis-15p { flex-basis: 15%; }
.flex-basis-16p { flex-basis: 16.666%; }
.flex-basis-20p { flex-basis: 20%; }
.flex-basis-25p { flex-basis: 25%; }
.flex-basis-33p { flex-basis: 33.333%; }
.flex-basis-35p { flex-basis: 35%; }
.flex-basis-40p { flex-basis: 40%; }
.flex-basis-50p { flex-basis: 50%; }
.flex-basis-60p { flex-basis: 60%; }
.flex-basis-66p { flex-basis: 66.666%; }

.checkbox-wrapper {
  display: flex;
  flex-flow: row-reverse;
  flex: 0 0 auto;
  align-items: baseline;
  margin-bottom: 1em;
}
.checkbox-wrapper label {
  margin-bottom: 0;
}
.checkbox-wrapper input[type=checkbox] {
  width: auto;
}
.AddEdit__compile-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.AddEdit__compile-buttons > * {
  margin: 0 0.5em;
}
.AddEdit__compile-buttons span {
  font-weight: bold;
  text-transform: uppercase;
}