.button--orange-black {
  display: inline-block;
  cursor: pointer;
  @include ubuntuBold;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  border: 1px solid #ecad62;
  padding: 0.5em 1.5em;
  background: rgba(black, 0.25);
  color: white;
  transition: 0.15s;
  &:hover {
    background: black;
  }
  &.is-smaller {
    text-align: center;
    padding: 0.25em 0.5em;
    font-size: 0.6875em;
    opacity: 0.75;
    background: black;
  }
}
.SocialMediaShareButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include ubuntuBold;
  color: white;
  font-size: 0.875em;
  text-transform: uppercase;
  padding: 0.25em 0.5em 0.25em 0;
  margin-bottom: 0.5em;
  transition: 0.15s;
  line-height: 1.2;
  &:last-child {
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
  }
}

.SocialMediaShareButton--facebook {
  background: #fc9b2d;
  &:hover { background: darken(#fc9b2d, 10%); }
}
.SocialMediaShareButton--twitter {
  background: #fc6d24;
  &:hover { background: darken(#fc6d24, 10%); }
}