.MBounder {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100px;
  margin: -50px 0 0 -50px;
  position: relative;
  &.ne {

  }
}
.MBounder__title {
  color: white;
  font-size: 2rem;
  @include text-border(black);
  position: absolute;
  .MBounder.is-ne & {
    bottom: 0;
    left: 0;
  }
  .MBounder.is-se & {
    top: 0;
    left: 0;
  }
  .MBounder.is-sw & {
    top: 0;
    right: 0;
  }
  .MBounder.is-nw & {
    bottom: 0;
    right: 0;
  }
  .MBounder.is-center & {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}