.MBounder {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100px;
  margin: -50px 0 0 -50px;
  position: relative;
  &.ne {

  }
}
.MBounder__title {
  color: white;
  font-size: 2rem;
  @include text-border(black);
  position: absolute;
  .MBounder.ne & {
    bottom: 0;
    left: 0;
  }
  .MBounder.se & {
    top: 0;
    left: 0;
  }
  .MBounder.sw & {
    top: 0;
    right: 0;
  }
  .MBounder.nw & {
    bottom: 0;
    right: 0;
  }
}