.MBounder {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100px;
  margin: -50px 0 0 -50px;
  position: relative;
  &.is-r-center {
    background: green;
  }
  &.is-r-ne,
  &.is-r-se,
  &.is-r-sw,
  &.is-r-nw {
    background: transparent;
    border-radius: 0;
    filter: drop-shadow(0 0 1px white);
    .MBounder__title {
      display: none;
    }
  }
  &.is-r-ne {
    margin: 0 0 0 -100px;
    border-top: 4px solid black;
    border-right: 4px solid black;
  }
  &.is-r-se {
    margin: -100px 0 0 -100px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
  }
  &.is-r-sw {
    margin: -100px 0 0 0;
    border-bottom: 4px solid black;
    border-left: 4px solid black;    
  }
  &.is-r-nw {
    margin: 0 -100px 0 0;
    border-top: 4px solid black;
    border-left: 4px solid black;    
  }
}
.MBounder__title {
  color: white;
  font-size: 2rem;
  @include text-border(black);
  position: absolute;
  .MBounder.is-r-ne &,
  .MBounder.is-ne & {
    bottom: 0;
    left: 0;
  }
  .MBounder.is-r-se &,
  .MBounder.is-se & {
    top: 0;
    left: 0;
  }
  .MBounder.is-r-sw &,
  .MBounder.is-sw & {
    top: 0;
    right: 0;
  }
  .MBounder.is-r-nw &,
  .MBounder.is-nw & {
    bottom: 0;
    right: 0;
  }
  .MBounder.is-r-center & {
    white-space: nowrap;
  }
  .MBounder.is-r-center &,
  .MBounder.is-center & {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}