.btn + .btn {
  margin-left: 0.375em;
}

.AddEdit .Select-placeholder,
.AddEdit .Select--single > .Select-control .Select-value {
  line-height: 32px;
}
.AddEdit .Select-control {
  height: 34px;
  border-color: rgba(0,0,0,.15)
}
.AddEdit .Select-input {
  height: 32px;
}