html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.site-container {
  width: calc(100% - 2em);
  margin: 0 auto;
}
html,
body,
#root,
.App,
.MapPage {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
}
