html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.site-container {
  width: calc(100% - 2em);
  margin: 0 auto;
}
.App--MapPage .layout__sidebar-width {
  @media only screen and (min-width: $bp-medium-large + 1) {
    width: 390px;
  }
  @media only screen and (min-width: $bp-medium + 1) and (max-width: $bp-medium-large) {
    width: 320px;
  }
}
@mixin transparencyBackground {
  background: rgba(black, 0.4);
}