.Logo__container {
  text-align: center;
  z-index: 1;
  // background-image: linear-gradient(to bottom, transparent 0%, transparent 34%, white 36%);
  background: white;
  margin: 0 0.5em 0.5em;
  padding: 0.5em 0.5em 0;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-flow: row-reverse;
}
.Logo__image {
  display: block;
  background-image: url(/images/logo__bottomless-brunch--gradient.png);
  width: 292px;
  height: 33px;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}
.Logo__title {
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(black, 0.75);
  @include responsive(font-size, 2.25, 1.5, 450);
  line-height: 1.4;
  letter-spacing: -0.06em;
  color: #ff7f32;
  margin: 0;
  cursor: pointer;
  // text-shadow: none;
  // text-shadow:
  //   1px 1px 0px rgba(#fed05b, 1),
  //   1px 0px 0px rgba(#fed05b, 1),
  //   1px -1px 0px rgba(#fed05b, 1),
  //   0px 1px 0px rgba(#fed05b, 1),
  //   0px -1px 0px rgba(#fed05b, 1),
  //   -1px 1px 0px rgba(#fed05b, 1),
  //   -1px 0px 0px rgba(#fed05b, 1),
  //   -1px -1px 0px rgba(#fed05b, 1);
  // &:after {
  //   content: "";
  //   filter: drop-shadow(1px 1px rgba(black,0.5));
  //   display: block;
  //   background-image: url(/images/icon__split-orange--cond.png);
  //   width: 1.25em;
  //   height: 1em;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   margin: 0 0 0 10px;
  //   position: absolute;
  //   top: 0.5rem;
  //   left: 100%;
  // }
}
.Logo__orange {
  width: 15%;
  margin: 0 0.5em;
  // height: 1em;
}

.Logo__region-title {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0125em;
  cursor: pointer;
  @include ubuntuBold;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding: 0.125em 0 0.5em;
  &:after {
    content: '';
    display: block;
    margin-left: 0.5em;
    border-top: 0.4em solid black;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
  }
}

.App--IntroPage {
  .Logo__container {
    height: 0;
    padding: 0;
    margin: 0;
  }
  .Logo {
    position: relative;
    z-index: 1;
    justify-content: flex-start;
    padding: 0.5em;
  }
  .Logo__title {
    display: block;
    color: white;
    cursor: default;
  }
  .Logo__image {
    display: none;
  }
  .Logo__orange {
    width: 40px;
  }
}

.App--MapPage {
  // .Region__title {
  //   text-shadow:
  //     1px 1px 0px rgba(255,255,255, 0.35),
  //     1px 0px 0px rgba(255,255,255, 0.35),
  //     1px -1px 0px rgba(255,255,255, 0.35),
  //     0px 1px 0px rgba(255,255,255, 0.35),
  //     0px -1px 0px rgba(255,255,255, 0.35),
  //     -1px 1px 0px rgba(255,255,255, 0.35),
  //     -1px 0px 0px rgba(255,255,255, 0.35),
  //     -1px -1px 0px rgba(255,255,255, 0.35);
  // }
  @media only screen and (min-width: $bp-medium + 1) and (max-width: $bp-medium-large) {
    .Logo__title {
      font-size: 1.65em;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    .Logo__container {
      order: 1;
      margin: 0;
      // background: yellow;
      background: rgba(white, 0.5);
      background: #f1f1f1;
      border-top: 1px solid #ddd;
      height: 50px;
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .Logo {
      flex-flow: row-reverse;
    }
    .Logo__image {
      height: 20px;
      width: 130px;
      // display: none;
    }
    .Logo__title {
      // display: block;
      font-size: 1.1em;
      white-space: nowrap;
    }
    .Logo__orange {
      width: auto;
      height: 26px;
    }
    .Logo__region-title {
      padding-bottom: 0;
      letter-spacing: 0;
      font-size: 0.875em;
    }
  }
  @media only screen and (max-width: $bp-medium-small) {
    .Logo__container {
      height: 50px;
    }
    .Logo__orange {
      height: 20px;
      margin: 0 0.25em 0 0;
    }
    .Logo__title {
      font-size: 0.9em;
    }
  }
  @media only screen and (max-width: $bp-small) {
    .Logo__image {
      width: 100px;
    }
    .Logo__region-title {
      font-size: 0.75em;
    }
  }
}

.App--VenueSlider {
  .Region__title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  }
  .Logo__container {
    margin-left: 0;
    background: none;
  }
  .Logo__title {
    color: white;
    text-shadow: 2px 2px 1px rgba(black, 0.5);
  }
  @media only screen and (min-width: $bp-medium + 1) {
    .Logo__title {
      font-size: 1.75em;
    }
  }
}
@media only screen and (max-width: $bp-medium) {
  .Logo__title {
    font-size: 1.4em;
    line-height: 1.3;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  }
}

/*
 * BETA
 */
 .Logo__beta-container,
 .Logo__title {
   position: relative;
 }
.Logo__beta-title {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  line-height: 0.9;
  text-shadow:
    1px 1px 1px rgba(black, 0.25),
    1px 0px 1px rgba(black, 0.25),
    1px -1px 1px rgba(black, 0.25),
    0px 1px 1px rgba(black, 0.25),
    0px -1px 1px rgba(black, 0.25),
    -1px 1px 1px rgba(black, 0.25),
    -1px 0px 1px rgba(black, 0.25),
    -1px -1px 1px rgba(black, 0.25);
  position: absolute;
  right: 7%;
  bottom: -10%;
  .App--IntroPage & {
    line-height: 1.2;
  }
  @media only screen and (max-width: $bp-medium + 1) {
    font-size: 0.825rem;
    .App--IntroPage & {
      font-size: 1rem;
    }
  }
}