.MapPage {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.MapPage__Map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.MapPage__VenueList-container {
  background: rgba(white, 0.75);
  padding: 6em 0.5em 0.5em;
  width: 390px;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
}
.VenueList {
  overflow: auto;
  height: calc(100%);
  -webkit-overflow-scrolling: touch;
}
.MapItem {
  display: block;
  margin-bottom: 0;
  border-bottom: none;
  transition: 0.15s;
  font-size: 1rem;
}
.MapItem {
  margin-left: -8px;
  margin-top: -74px;
  display: flex;
  position: relative;
}
.MapItem__inner {
  display: none;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 240px;
  height: 86px;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}
.MapItem__title {
  font-size: 1em;
  /* font-weight: bold; */
  margin-bottom: 0.1em;
  color: #014cac;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.01em;
  width: 240px;
}
.MapItem__content {
  flex: 1;
  overflow: hidden;
}
.MapItem__content {
  max-width: 265px;
  padding: 9px 14px 5px;
}
.MapItem__p {
  font-size: 0.75em;
  line-height: 1.2;
  margin-bottom: 0;

  color: #616161;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MapItem__image-container {
  flex: 0 0 100px;
}
.MapItem__image-container {
  height: 86px;
  overflow: hidden;
  width: 86px;
  flex: 0 0 auto;
}
.MapItem__image {
  display: block;
  /* width: 100px; */
  /* height: 100%; */
  width: 125px;
  height: 80px;
  object-fit: cover;
  margin-top: -1px;
}
.MapItem__image {
  margin: 0;
}

.MapItem__marker-container {
  width: 30px;
  height: 74px;
  padding-right: 32px;
}
.MapItem__marker {
  width: 17px;
  height: 74px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(/images/clip-art--mimosa-v4.png);
  transition: 0.15s;
  transform-origin: center bottom;
}
/* span.VenueTeaser__marker:after {
  content: '';
  display: block;
  background: rgba(255,255,255,0.7);
  width: 26px;
  height: 26px;
  z-index: -1;
  border-radius: 100px;
  border: 10px solid rgba(255, 149, 61, 0.84);
  position: absolute;
  bottom: -13px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
} */
/* Hover */
.VenueListItem:focus,
.VenueListItem:hover,
.VenueListItem.is-hovered,
.MapItem.is-hovered {
  text-decoration: none;
}
.MapItem.is-hovered {
  z-index: 1;
}
.MapItem.is-hovered .MapItem__marker {
  transform: rotate(15deg);
}
.MapItem.is-hovered .MapItem__inner {
  display: flex;
}
.Marker {
  transform: translateY(-100%);
}
.VenueListItem {
  display: block;
  background: white;
  &:first-child {
    .VenueListItem__inner {
      margin-top: 0;
    }
  }
  // box-shadow: 0 2px rgba(#582a25, 0.25)
}
.VenueListItem__inner {
  display: flex;
  margin-top: 0.5em;
  min-height: 150px;
  transition: 0.15s;
  border: 1px solid #ddd;
  &:hover {
    background-color: whitesmoke;
  }
}
.VenueListItem__image-container {
  width: 160px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.VenueListItem__content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding: 0.5em;
  overflow: hidden;
}
.VenueListItem__sub-title,
.VenueListItem__title {
  @include openSansCondensedBold;
}
.VenueListItem__title {
  color: #f45a26;
  font-size: 1.25em;
  margin-bottom: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.VenueListItem__sub-title {
  color: #c84a01;
  font-size: 0.825em;
  margin-bottom: 0.25em;
}
.VenueListItem__p {
  color: #333;
  font-size: 0.825em;
  line-height: 1.25;
  margin-bottom: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VenueListItem__funtimes {
  margin-top: auto;
  border-radius: 4px;
  margin-bottom: 1em;
  p {
    margin-bottom: 0;
  }
}

.VenueListItem__more-info {
  background-color: transparent;
  color: #c84a01;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  font-size: 0.65em;
  font-weight: bold;
  // display: inline-block;
  margin: auto auto 0 0;
  line-height: 1;
  // padding: 0.25em 0.5em;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 1.1;
  .chevron {
    margin-left: 0.25em;
    font-size: 1.25em;
  }
}
.VenueList__handle {
  height: 40px;
  // cursor: -webkit-grab;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VenueList__inner-handle {
  background: #aaa;
  height: 6px;
  width: 120px;
  border-radius: 100px;
}
@media only screen and (min-width: $bp-medium + 1) {
  .VenueList__handle {
    display: none;
  }
}
@media only screen and (min-width: $bp-medium + 1) and (max-width: $bp-medium-large) {
  .MapPage__VenueList-container {
    width: 320px;
    padding-top: 4.6em;
  }
  .VenueListItem__image-container {
    width: 140px;
  }
}
@media only screen and (max-width: $bp-medium) {
  .MapPage__VenueList-container {
    top: 65vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding-top: 0em;
    transition: 0.5s;
    &.is-closed { top: 65vh}
    &.is-open { top: 15vh}
  }
  
}