html.html--MapPage,
body.body--MapPage {
  // Prevent overscroll/bounce in iOS MobileSafari
  // https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/
  position: fixed;
  overflow: hidden;
}
html.html--MapPage,
body.body--MapPage,
body.body--MapPage #root,
.App--MapPage,
.MapPage {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
}

.MapPage {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.MapPage__Map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.MapPage__VenueList--width {
  width: 390px;
}
.MapPage__VenueList-container {
  background: rgba(white, 0.5);
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: column;
}
.MapItem {
  // margin-left: -8px;
  // margin-top: -74px;
  display: flex;
  position: relative;
  left: -16px;
  top: -16px;

  // width: 180px; // this is temp and will need to be updated
  // override google's overrides:
  font-size: 1rem;
  font-family: $Raleway;
  font-weight: 400;
  line-height: 1.2;
}
.MapItem__marker-container {
  cursor: default;
  border-radius: 100px;
  &:before {
    // create an artificial area to help hover into the teaser:
    content: "";
    position: absolute;
    bottom: -12px;
    height: 96px;
    width: 32px;
    z-index: -1;
  }
}
.MapItem__mimosa {
  display: block;
  width: 17px;
  height: 74px;
  position: absolute;
  bottom: 16px;
  left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;

  background-image: url(/images/clip-art--mimosa-v6.png);
  transition: 0.15s;
  transform-origin: center bottom;
  &:after {
    content: '';
  }
}
.MapItem__marker {
  display: block;
  position: relative;
  z-index: -1;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 11px solid rgba(255, 155, 0, 0.5);
  background-clip: content-box;
  box-shadow: 0px 0px 2px 1px rgba(255, 0, 207, 0.75);
  transition: 0.15s;
  &:after {
    content: '';
    background: rgba(white, 0.5);
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100px;
    transition: 0.15s;
  }
}
.MapItem__inner {
  display: none;
  position: absolute;
  top: -115px;
  width: 200px;
  flex-flow: column;
  background: white;
  box-shadow: 0 0 1px 1px rgba(black, 0.1);
}
.MapItem__pointer {
  &:before,
  &:after {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    pointer-events: none;
  }
  &:after {
    z-index: -1;
    filter: drop-shadow(0 0 1px rgba(black, 0.35));
  }
  &:hover:before {
    border-right-color: whitesmoke;
  }
}
// Teaser Side:
.MapItem.is-right {
  .MapItem__marker-container {
    &:before {
      left: 16px;
      border-radius: 50% 0 0 30%;
    }
  }
  .MapItem__pointer {
    &:before,
    &:after {
      left: 24px;
      border-right: 16px solid white;
    }
  }
  .MapItem__inner {
    left: 40px;
  }
}
.MapItem.is-left {
  .MapItem__marker-container {
    &:before {
      left: -8px;
      border-radius: 0 50% 30% 0;
    }
  }
  .MapItem__pointer {
    &:before,
    &:after {
      right: -8px;
      border-left: 16px solid white;
    }
  }
  .MapItem__inner {
    right: 8px;
  }
}

/* Hover */
.MapItem.is-hovered {
  .MapItem__marker-container:before {
    display: block;
  }
  &.is-right .MapItem__mimosa {
    transform: rotate(15deg);
  }
  &.is-left .MapItem__mimosa {
    transform: rotate(-15deg);
  }
  .MapItem__marker {
    border: 11px solid rgba(255, 155, 0, 0.75);
    z-index: 0;
  }
  .MapItem__pointer {
    &:before,
    &:after {
      content: '';
    }
  }
  .MapItem__inner {
    display: block;
  }
}
/* Hover */
.VenueTeaser:focus,
.VenueTeaser:hover,
.VenueTeaser.is-hovered {
  text-decoration: none;
}
.VenueTeaser.is-hovered {
  z-index: 1;
}
.Marker {
  transform: translateY(-100%);
}

/*
 * VENUE LIST ITEM
 */
.VenueListItem {
  display: block;
  margin: 0 0.5em;
  background: white;
  &:first-child {
    .VenueListItem__inner {
      margin-top: 0;
    }
  }
}
.VenueTeaser__inner {
  min-height: 150px;
}
.VenueListItem__inner {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 0.5em;
  transition: 0.15s;
  &:hover {
    background-color: whitesmoke;
  }
}
.VenueTeaser__image-container {
  width: 160px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.MapItem__image-container{
  width: 100%;
  height: 120px;
}
.VenueTeaser__content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding: 0.5em;
  overflow: hidden;
}
.VenueTeaser__sub-title,
.VenueTeaser__title {
  @include openSansCondensedBold;
}
.VenueTeaser__title {
  color: #f45a26;
  font-size: 1.25em;
  margin-bottom: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.VenueTeaser__sub-title {
  color: #c84a01;
  font-size: 0.825em;
  margin-bottom: 0.25em;
}
.VenueTeaser__p {
  color: #333;
  font-size: 0.825em;
  line-height: 1.25;
  margin-bottom: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VenueTeaser__funtimes {
  margin-top: auto;
  border-radius: 4px;
  margin-bottom: 1em;
  p {
    margin-bottom: 0;
  }
}

.VenueTeaser__more-info {
  @include openSansCondensedBold;
  background-color: transparent;
  color: #c84a01;
  // text-transform: uppercase;
  border: none;
  font-size: 0.75em;
  // display: inline-block;
  margin: auto auto 0 0;
  line-height: 1;
  padding: 0.25em 0 0;
  display: flex;
  align-items: center;
  line-height: 1.1;
  border-top: 1px solid #eaeaea;
  width: 100%;
}
/*
 * Mobile:
 */
.VenueList__handle {
  height: 35px;
  // cursor: -webkit-grab;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VenueList__inner-handle {
  background: #a7a7a7;
  height: 4px;
  width: 34px;
  // box-shadow: 0 1px 1px rgba(0,0,0,0.7);
  border-radius: 100px;
}
.VenueList {
  position: relative;
  z-index: 2;
  background: rgba(white, 0.75);
}
.MapPage__Map-inner-container {
  height: 100%;
}
// this is everything on desktop:
@media only screen and (min-width: $bp-medium + 1) {
  .VenueList__handle,
  .VenueList__spacer {
    display: none;
  }
  .VenueList {
    padding-top: 0.5em;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 390px;
    top: 90px;
    bottom: 0;
    position: absolute;
  }
}
// medium to medium large style stuff:
@media only screen and (min-width: $bp-medium + 1) and (max-width: $bp-medium-large) {
  .App--MapPage {
    .VenueList,
    .MapPage__VenueList--width {
      width: 320px;
    }
    .VenueListItem__image-container {
      width: 140px;
    }
  }
}
// style the drag scroller:
// on mobile and ipad: (up to 768px)
@media only screen and (max-width: $bp-medium) {
  .MapPage {
    display: block;
  }
  .MapPage__inner {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .MapPage__Map-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100vh - 200px);
    z-index: 1;
  }
  .MapPage__VenueList--width {
    width: 100%;
  }
  .VenueList__spacer {
    height: calc(100vh - 200px);
    width: 1px;
  }
}
@media only screen and (max-width: $bp-small) {
  .VenueListItem__image-container {
    width: calc(50% - 0.5em);
  }
  .MapItem__inner {
    width: 180px;
  }
}