.RegionsModal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.75);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.RegionsModal {
  text-align: center;
  background: white;
  display: flex;
  flex-flow: column;
  border-radius: 4px;
  overflow: hidden;
  min-width: 260px;
  max-height: 55vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.RegionsModal__link {
  @include ubuntuBold;
  font-weight: 500;
  font-size: 1.5em;
  color: #f45a26;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid #ffbfaa;
  transition: 0.15s;
  cursor: pointer;
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    background: whitesmoke;
    color: darken(#f45a26, 15%);
  }
  &:last-child {
    border-bottom: none;
  }
}
.RegionsModal__subheader {
  @include ubuntuCondensed;
  color: white;
  @include responsive(font-size, 5);
  text-align: center;
  margin-bottom: 0.5em;
}