// fonts:
$Raleway: 'Raleway', sans-serif;

$Ubuntu: 'Ubuntu', sans-serif;
$UbuntuCondensed: 'Ubuntu Condensed', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;

body {
  // font-family: $OpenSans;
  font-family: $Raleway;
  font-weight: 400;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
}
h1 {
  font-family: $UbuntuCondensed;
}
.small,
small {
  font-size: 80%;
  font-weight: 400;
}
strong {
  font-weight: 600;
}
a {
  &,
  &:hover,
  &:focus,
  &:active,
  *:hover,
  *:focus,
  *:active,
  * {
    text-decoration: none;
  }
}
@mixin ubuntuCondensed {
  font-family: $UbuntuCondensed;
  font-weight: 500;
}
@mixin ubuntuBold {
  font-family: $Ubuntu;
  font-weight: bold;
}
@mixin openSansCondensedBold {
  font-family: $OpenSansCondensed;
  font-weight: bold;
}
.chevron-after {
  &:after {
    margin-left: 0.25em;
    font-size: 1.25em;
    content: '\BB';
  }
}
.chevron-before {
  &:before {
    margin-right: 0.25em;
    font-size: 1.25em;
    content: '\AB';
  }
}