// fonts:
$Raleway: 'Raleway', sans-serif;

$Ubuntu: 'Ubuntu', sans-serif;
$UbuntuCondensed: 'Ubuntu Condensed', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;

body {
  // font-family: $OpenSans;
  font-family: $Raleway;
  font-weight: 400;
}
h1 {
  font-family: $UbuntuCondensed;
}
strong {
  font-weight: 600;
}

@mixin ubuntuBold {
  font-family: $Ubuntu;
  font-weight: bold;
}
@mixin openSansCondensedBold {
  font-family: $OpenSansCondensed;
  font-weight: bold;
}