.VenuePage {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;

  overflow: hidden;
  
  color: white;
}
.VenuePage + .MapPage .MapPage__container {
  filter: saturate(0.25) opacity(0.65);
}
.VenuePage__inner1 {
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  margin: 0.5em;
  background: #333333;
  // background-clip: content-box;
  z-index: -1;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
  border-radius: 4px;
}
.VenuePage__inner1,
.VenuePage__inner2 {
  overflow: hidden;
  // position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.VenuePage__inner2 {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  padding: 6em 1em;
}
.VenuePage__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.325) saturate(0.4);
  background-size: cover;
  background-position: center center;
  // background-color: rgba(#f8af00, 0.25);
  // background-blend-mode: multiply;
}
.VenuePage__title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
  line-height: 0.85;
  margin-bottom: 0.25em;
  font-size: 3.5em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}
.VenuePage__sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #f8af00;
  line-height: 0.85;
  // margin: 0;
  font-size: 1.05em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  // position: absolute;
  // top: 0.5em;
  text-transform: uppercase;
  // background: rgba(black, 0.5);
  padding: 0.4em 0.5em;
  // border-radius: 4px;
}
.VenuePage__day {
  margin-bottom: 0;
}
.VenuePage__left-col {
  padding: 1em 1.7em;
}
.VenuePage__prev,
.VenuePage__next,
.VenuePage__close {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 0.5em;
  top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.VenuePage__inner-close {
  transform: rotate(45deg);
}
.VenuePage__inner-prev,
.VenuePage__inner-next,
.VenuePage__inner-close {
  font-size: 5em;
  font-weight: 300;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}
.VenuePage__prev,
.VenuePage__next {
  top: 50%;
}
.VenuePage__prev { left: 0.5rem; }
.VenuePage__next { right: 0.5rem; }
.VenuePage__inner-prev,
.VenuePage__inner-next {
  font-size: 7em;
  line-height: 0;
  margin-top: -0.25em;
}

.VenuePage__top-meta,
.VenuePage__ratings {
  width: 600px;
  max-width: 100%;
  display: flex;
  margin-left: -1em;
  margin-bottom: 1.5em;
}
.VenuePage__hours,
.VenuePage__address,
.VenuePage__ratings-item {
  margin-left: 1em;
  flex: 1 0 0;
  justify-content: center;
  text-align: center;
}
.VenuePage__ratings-stars,
.VenuePage__ratings-item {
  display: flex;
  align-items: center;
}
.VenuePage__ratings-title {
  margin-right: 1em;
}
.VenuePage__hours-title,
.VenuePage__address-title,
.VenuePage__ratings-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1em;
  color: #f8af00;
}
.VenuePage__top-meta {
  display: flex;
  margin-left: -1em;
}
.VenuePage__address-p,
.VenuePage__hours-p {
  margin-bottom: 0;
  line-height: 1.3;
}

.VenuePage__middle {
  display: flex;
  border: 1px solid #df9600;
  justify-content: center;
  color: black;
  margin-bottom: 2em;
  padding: 0.25em;
}
.VenuePage__middle-center {
  display: flex;
  flex-flow: column;
}
.VenuePage__middle-right,
.VenuePage__middle-left,
.VenuePage__middle-center-top,
.VenuePage__middle-center-bottom {
  background: white;
  padding: 0.5em;
  margin: 0.25em;
  text-align: center;
}
.VenuePage__middle-right,
.VenuePage__middle-left {
  width: 30%;
  flex: 1 1 auto;
}
.VenuePage__middle-center {
  width: 250px;
  flex: 0 0 auto;
}
.VenuePage__middle-center-top,
.VenuePage__middle-center-bottom {
  flex: 1;
}
.VenuePage__middle-meta-title,
.VenuePage__middle-title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f45a26;
  font-weight: bold;
}
.VenuePage__middle-meta-title {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: 0;
}
.VenuePage__middle-meta-p {
  font-weight: 600;
  .VenuePage__middle-meta:last-child & {
    margin-bottom: 0;
  }
}
.VenuePage__middle-p {
  margin-bottom: 0;
}
.VenuePage__duo {
  width: 100%;
  margin-bottom: 0.35em;
  display: flex;
  justify-content: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.VenuePage__duo-left,
.VenuePage__duo-right {
  line-height: 1.1;
  margin-bottom: 0;
}
.VenuePage__duo-left {
  font-weight: 600;
  text-align: left;
  margin-right: 0.25em;
}

.VenuePage__image-container {
  height: 150px;
  width: 100%;
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: rgba(black, 0.5);
  border-top: 1px solid #bc8940;
  border-bottom: 1px solid #bc8940;
  padding: 0.5em 0.25em;
}
.VenuePage__image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 0.25em;
  transition: 0.15s;
}

// MOBILE:
@media only screen and (max-width: $bp-medium) {
  .VenuePage__inner2 {
    height: auto;
    display: block;
  }
  .VenuePage__bg {
    // position: fixed;
    // top: 0.5em;
    // right: 0.5em;
    // bottom: 0.5em;
    // left: 0.5em;
  }
}
@media only screen and (max-width: $bp-medium-small) {
  .VenuePage__middle {
    flex-flow: column;
    align-items: center;
  }
  .VenuePage__middle-center {
    order: -1;
  }
  .VenuePage__middle-center {
    width: 100%;
  }
  .VenuePage__middle-left,
  .VenuePage__middle-right {
    width: (calc(100% - 0.5em))
  }
  .VenuePage__inner1 {
    // height: 100%;
    // width: 100%;
    // margin: 0;
    // border-radius: 0;
  }
  .VenuePage__bg {
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
  }
  .VenuePage__close {
    top: 0;
    right: 0;
  }
  .VenuePage__prev {
    display: none;
  }
  .VenuePage__next {
    display: none;
  }
}


.sliderTemp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  background: yellow;
  overflow: hidden;
  z-index: 2;
}





