.VenueFilters {
  margin: 0.2em 0.5em 0.5em;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  color: white;
  box-shadow: 0 0 0px 1px rgba(255,255,255,0.2);
  margin-top: 0.2em;
  background: rgba(black, 0.95);
}
.VenueFilters__inner {
  padding-top: 1em;
  opacity: 0;
  transition: 350ms;
  .VenueFilters.is-active & {
    opacity: 1;
    transition: 0;
  }
}
.VenueFilters__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.VenueFilters__title {
  @include openSansCondensedBold;
  font-size: 1.1em;
  margin-bottom: 0;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  &:after {
    content: '';
    display: block;
    margin-left: 0.25em;
    border-top: 0.35em solid white;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    filter: drop-shadow(1px 1px 1px black);
    transform: rotate(-90deg);
    transition: 0.35s
  }
  .VenueFilters.is-active & {
    &:after {
      transform: rotate(0)
    }
  }
}
.VenueFilters__horz {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-left: -0.5em;
  > * {
    width: 33.33%;
    padding-left: 0.5em;
  }
  &.width-25 > * {
    width: 25%;
  }
}

.VenueFilters__slider-container {
  padding: 0 1em 1.25em 0.5em;
  .rc-slider-mark-text-active {
    color: white;
  }
  .rc-slider-mark-text {
    transform: rotate(45deg);
    transform-origin: 50% 100%;
  }
}
.VenueFilters__item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #bbb;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.VenueFilters__item-title {
  font-size: 0.925em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  white-space: nowrap;
  letter-spacing: -0.01em;
}
.VenueFilters__description {
  font-size: 0.75em;
  .VenueFilters__item-title + & {
    margin-top: -0.25rem;
  }
}
.VenueFilters__checkbox {
  font-size: 0.75em;
}
.VenueFilters__label {
  display: flex;
  align-items: center;
  margin-bottom: 0.325em;
  line-height: 1;
  font-weight: bold;
  &[disabled] {
    color: #666;
  }
}
.VenueFilters__empty {
  color: white;
  margin: 0 0.5em 0.5em;
  padding: 1em;
  text-align: center;
  p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.925em;
  }
}
/*
 * Reset Button
 */
.VenueFilters {
  .VenueFilters__reset {
    z-index: -1;
    opacity: 0;
    transition: 0s 0.35s, opacity 0.35s;
  }
  &.is-active .VenueFilters__reset.is-active {
    z-index: 0;
    opacity: 1;
    transition: 0s, opacity 0.35s;
  }
}
