.VenueFilters {
  background-color: white;
  margin: 0 0.5em 0.5em;
  padding: 0.5em;
  border-radius: 4px;
}
.VenueFilters__title {
  font-size: 1.5em;
}
.VenueFilters__horz {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  > * {
    width: 33.33%;
  }
}

.VenueFilters__slider-container {
  padding: 0 0.75em 2em;
}
.VenueFilters__item {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
.VenueFilters__item-title {
  font-size: 0.925em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}