.App--VenueSlider .MapPage__container {
  filter: saturate(0.25) opacity(0.65);
}
$venueSliderItemSidePadding: 2vw;

.VenueSlider {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: left 0s 0.5s, opacity 0.5s, transform 0.5s;
  transform: translate3d(0, 5vh, 0);

  // from .is-active:
  left: 0;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: left 0s 0s, opacity 0.5s, transform 0.5s;

  .slick-next,
  .slick-prev {
    z-index: 1;
  }
}
.VenueSliderItem {
  display: flex;
  flex-flow: column;
  width: calc(100vw - 64px);
  height: calc(100vh - 1em);
  margin: 0.5em 0;
  text-align: center;
  padding: 0 0.25em;
  color: white;
  .slick-initialized &.slick-slide {
    display: flex;
  }
  @media only screen and (max-width: 620px) {
    width: calc(100vw - 20px);
  }
}

.VenueSliderItem__inner {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  border-radius: 4px;
  padding: 4vw $venueSliderItemSidePadding;

  background-color: rgba(black, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;

  transition: 0.3s; // speed of the background changes
  > * {
    flex: 0 0 auto;
    transition: opacity 0.5s; // speed back out
    opacity: 0;
  }
  > *:first-child { margin-top: auto; }
  > *:last-child { margin-bottom: auto; }
}
@for $i from 0 through 50 { // make a big number just in case
  .VenueSlider [currentslide='#{$i}'] + .slick-list .slideNum-#{$i} {
    .VenueSliderItem__inner {
      background-color: rgba(black, 0.65);
      > * {
        opacity: 1;
        transition: 0.75s; // speed in
        // transform: translateY(0)
       }
    }  
  }
}
.VenueSliderItem__content {
  margin: 0 auto;
  max-width: 800px;
}
.VenueSliderItem__title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
  line-height: 0.85;
  margin-bottom: 0.25em;
  font-size: 3.5em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}
.VenueSliderItem__sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #f8af00;
  line-height: 0.85;
  font-size: 1.05em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  padding: 0.4em 0.5em;
  margin-bottom: 0.75em;
}
.VenueSliderItem__day {
  margin-bottom: 0;
}
.VenueSliderItem__left-col {
  padding: 1em 1.7em;
}
.VenueSliderItem__ratings-and-hours {
  // max-width: 550px;
  margin: 0 auto 1em;
  background: rgba(0,0,0,0.25);
  padding: 0.75em 0.5em;
  border-radius: 4px;
  @media only screen and (max-width: 550px) {
    max-width: 100%
  }
}
.VenueSliderItem__ratings {
  margin-bottom: 1em;
}

.VenueSliderItem__top-meta,
.VenueSliderItem__ratings {
  display: flex;

}
.VenueSliderItem__hours,
.VenueSliderItem__address,
.VenueSliderItem__ratings-item {
  flex: 1 0 0;
  justify-content: center;
  text-align: center;
}
.VenueSliderItem__ratings-stars,
.VenueSliderItem__ratings-item {
  display: flex;
  align-items: center;
}
.VenueSliderItem__ratings-title {
  margin-right: 1em;
}
.VenueSliderItem__hours-title,
.VenueSliderItem__address-title,
.VenueSliderItem__ratings-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1em;
  color: #f8af00;
}
.VenueSliderItem__top-meta {
  display: flex;
}
.VenueSliderItem__address-p,
.VenueSliderItem__hours-p {
  margin-bottom: 0;
  line-height: 1.3;
}

.VenueSliderItem__middle {
  display: flex;
  border: 1px solid #df9600;
  justify-content: center;
  color: black;
  margin-bottom: 2em;
  padding: 0.25em;
}
.VenueSliderItem__middle-center {
  display: flex;
  flex-flow: column;
}
.VenueSliderItem__middle-right,
.VenueSliderItem__middle-left,
.VenueSliderItem__middle-center-top,
.VenueSliderItem__middle-center-bottom {
  background: white;
  padding: 0.5em;
  margin: 0.25em;
  text-align: center;
}
.VenueSliderItem__middle-right,
.VenueSliderItem__middle-left {
  width: 30%;
  flex: 1 1 auto;
}
.VenueSliderItem__middle-center {
  width: 250px;
  flex: 0 0 auto;
}
.VenueSliderItem__middle-center-top,
.VenueSliderItem__middle-center-bottom {
  flex: 1;
}
.VenueSliderItem__middle-meta-title,
.VenueSliderItem__middle-title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f45a26;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.VenueSliderItem__middle-meta-title {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: 0;
}
.VenueSliderItem__middle-meta-p {
  font-weight: 600;
  .VenueSliderItem__middle-meta:last-child & {
    margin-bottom: 0;
  }
}
.VenueSliderItem__middle-p {
  margin-bottom: 0;
}
.VenueSliderItem__duo {
  width: 100%;
  margin-bottom: 0.35em;
  display: flex;
  justify-content: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.VenueSliderItem__duo-left,
.VenueSliderItem__duo-right {
  line-height: 1.1;
  margin-bottom: 0;
}
.VenueSliderItem__duo-left {
  font-weight: 600;
  text-align: left;
  margin-right: 0.25em;
}

.VenueSliderItem__image-container {
  height: 150px;
  // width: 100%;
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: rgba(black, 0.5);
  border-top: 1px solid #bc8940;
  border-bottom: 1px solid #bc8940;
  padding: 0.5em 0.25em;
  // margin-left: ($venueSliderItemSidePadding * -1);
  // margin-right: ($venueSliderItemSidePadding * -1);
}
.VenueSliderItem__image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 0.25em;
  transition: 0.15s;
}

// MOBILE:
@media only screen and (max-width: $bp-medium-small) {
  .VenueSliderItem__middle {
    flex-flow: column;
    align-items: center;
  }
  .VenueSliderItem__middle-center {
    order: -1;
  }
  .VenueSliderItem__middle-center {
    width: 100%;
  }
  .VenueSliderItem__middle-left,
  .VenueSliderItem__middle-right {
    width: (calc(100% - 0.5em))
  }
  .VenueSliderItem__close {
    top: 0;
    right: 0;
  }
  .VenueSliderItem__prev {
    display: none;
  }
  .VenueSliderItem__next {
    display: none;
  }
}


.VenueSlider__arrow,
.VenueSlider__close {
  position: fixed;
  right: 3.25vw;
  top: 2.5vh;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(#444, 0.65);
  cursor: pointer;
  z-index: 1;
  // opacity: 0.75;
  transition: opacity 0.5s;
  &.slick-disabled {
    opacity: 0;
    pointer-events: none;
  }
}
html.touch .VenueSlider__arrow {
  display: none !important;
}
.VenueSlider__inner-arrow,
.VenueSlider__inner-close {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 18px;
    background-color: rgba(white,1);
    width: 4px;
    height: 26px;
    transform-origin: center center;
  }
  &:before { transform: rotate(45deg) }
  &:after { transform: rotate(-45deg) }
}
.VenueSlider__inner-arrow--prev {
  &:before,
  &:after {
    height: 13px;
    left: 17px;
  }
  &:before {
    top: 10px;
  }
  &:after {
    top: 16px;
  }
}
.VenueSlider__inner-arrow--next {
  &:before,
  &:after {
    height: 13px;
    left: auto;
    right: 17px;
  }
  &:after {
    top: 10px;
  }
  &:before {
    top: 16px;
  }
}
.VenueSlider__arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.VenueSlider__arrow--next {
  right: 3.25vw;
  // margin-right: -20px;
}
.VenueSlider__arrow--prev {
  right: auto;
  left: 3.25vw;
  // margin-left: -20px;
}

.VenueSliderItem__image-container {
  // pointer-events: none;
}

.VenueSliderItem__content {
  padding: 9vh 0;
}
.VenueSliderItem__middle {
  margin-bottom: 1em;
}
.VenueSliderItem__image-container {
  flex-flow: row wrap;
  overflow: visible;
  height: auto;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: 1px solid #bc8940;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.VenueSliderItem__image {
  width: calc(33.333% - 0.5em);
  height: 150px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  flex: 0 0 auto;
  object-fit: cover;
}
@media only screen and (max-width: $bp-medium-small) {
  .VenueSliderItem__image {
    width: calc(50% - 0.5em);
    height: 150px;
  }
}

@media only screen and (max-width: $bp-small) {
  .VenueSliderItem__content {
    width: 100%;
  }
  .VenueSliderItem__top-meta {
    flex-flow: column;
  }
  .VenueSliderItem__address {
    margin-bottom: 1em;
  }
}

