@import
  'variables',
  'mixins';
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}
h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.Logo__container {
  height: 0;
  position: relative;
  z-index: 1;
}
.Logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.75em;
  letter-spacing: -0.06em;
  text-shadow: 2px 2px 1px rgba(black, 0.5);
  display: flex;
  align-items: flex-end;
  line-height: 1.4;
  filter: drop-shadow(1px 1px rgba(black,0.5));
  padding: 0.5em 0.6em;
  &:after {
    content: "";
    display: block;
    background-image: url(/images/icon__split-orange--cond.png);
    width: 1.25em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
  }
}
html,
body,
#root,
.App,
.MapPage {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.App__container {
  flex: 1;
}

.btn + .btn {
  margin-left: 0.375em;
}
#root .Select-placeholder,
#root .Select--single > .Select-control .Select-value {
  line-height: 32px;
}
#root .Select-control {
  height: 34px;
  border-color: rgba(0,0,0,.15)
}
#root .Select-input {
  height: 32px;
}
.site-container {
  width: calc(100% - 2em);
  margin: 0 auto;
}
@import
  'modules',
  'IntroPage',
  'utilities';